.container{
    .row{
        background-color: #efeef1;
        width:"1400px"
    }
}
@media only screen and (max-width: 600px){
    .container{
        width: 300px;
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
